.create-todo {
    margin: 6em 2em 1em 3em;
    padding: 6px 12px 6px 12px;
    border: 1px solid #000;
    border-radius: 5px;
    height: 65vh;
    width: 92%;
    /* overflow-y: hidden; */
}

input,
textarea {
    background: #ebe8e8;
    padding: 17px 5px;
    text-align: left;
    border: none;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 5px;
    font-size: 23px;
}
.form-group {
    margin-bottom: 0em;
    border: 1px solid #F3F3F3;
}
.input-date {
    width: 30%;
    font-size: 1.8em;
    margin: 0.5em 0;
}
.btn-lg {
    margin: 15px 4px 15px 12px;
    padding: 4px 30px;
    border-radius: 10px;
    font-size: 1.9em;
    color: #fff;
    font-weight: 700;
    background-color: #F79623;
}
.date {
    padding: 10px;
}
.border {
    padding: 12px;
}
.dateTime {
    width: 30%;
    font-size: 1.8em !important;
    margin: 0.5em 0 !important;
    border-radius: 10px;
    padding-right: 5px;
}
.custom-file-label {
    background: #313030;
    border: none;
    box-shadow: 0 2px #00000029;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.datePicker  {
    top:0;
  }
/*  Medium devices (desktop, 1440px and 2056px) */
@media(min-width: 1442.98px) and (max-width: 2565px) {
    .create-todo {
        margin: 6em 1em 6em 2em;
        padding: 16px 34px 21px 30px;
        border: 1px solid #000;
        border-radius: 5px;
        height: 74vh;
    }
}

/*  Medium devices (laptop, 1024px and up to 1440px) */
@media(min-width: 1022px) and (max-width: 1442.98px) {
    .create-todo {
        margin: 4em 1em 2em 2em;
        padding: 5px 16px 6px 15px;
        border: 1px solid #000;
        border-radius: 5px;
        height: 76vh;
    }
}

/*  Medium devices (tablets, 768px and 1024px) */
@media(min-width: 768px) and (max-width: 1022px) {
    .create-todo {
        margin: 4em 0 0 1em;
        padding: 0 5px 0 20px;
        border: 1px solid #000;
        border-radius: 5px;
        height: 80vh;
    }
    .btn-lg {
        margin: 15px 4px 15px 12px;
        padding: 1px 14px;
        border-radius: 10px;
        font-size: 1.9em;
        color: #fff;
        font-weight: 700;
        background-color: #F79623;
    }
}

/* Small devices (landscape phones, 576px and up to 767.98 width) */
@media(min-width: 576px) and (max-width: 767.98px) {
    .create-todo {
        margin: 2.2em 2em 2em 1em;
        padding: 0px 50px;
        border: 1px solid #000;
        border-radius: 5px;
        height: 80vh;
    }

}

/*  Small devices (landscape phones, 576px and below) */
@media(max-width: 576px) {
    .create-todo {
        margin: 0.2em 1.2em 1em 1em;
        padding: 0 20px;
        border: 1px solid #000;
        border-radius: 5px;
        height: 85vh;
    }
    button {
        margin: 0 -10px;
        padding: 4px 11px;
        border-radius: 10px;
        font-size: 1.5em;
        color: #fff;
        font-weight: 700;
        background-color: #F79623;
    }
    textarea {
        padding: 10px;
    }
    .form-group {
        margin-bottom: 0.4em;
        border: 1px solid #F3F3F3;
    }
}

/* small devices below the width size of 400px */
@media(max-width: 400px) {
    .btn-lg {
        margin: 15px 4px 15px 12px;
        padding: 2px 20px;
        border-radius: 10px;
        font-size: 1.3em;
        color: #fff;
        font-weight: 700;
        background-color: #F79623;
    }
}
