<!--/*
    *@Description: Create Todo Component
    *@Date-created: sep 14 2020
    *@Author: Teke Rene
 -->

<div class="create-todo">
    <form method="POST" [formGroup]='todoForm' (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title"></label>
            <input type="text" name="title" formControlName="title" class="form-control" id="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label for="desc"></label>
            <textarea name="desc" id="desc" formControlName="desc" class="form-control" cols="" rows="7"
                placeholder="Description" required></textarea>
            <span class="max-desc">280 max</span>
        </div>
        <div class="custom-file mb-3">
            <div class="form-group">
                <label for="imageUrl"></label>
                <input type="file" name="imageUrl" formControlName="imageUrl" class="custom-file-input" id="imageUrl" required>
            
                <label class="custom-file-label" for="dateTime">Choose file...</label>
                <div class="invalid-feedback" ></div>
            </div>
            <div class="form-group d-flex">
                <input class="dateTime" type="text" formControlName="date" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control"
                    placeholder="20-05-2020" />
                <button type="submit" class="btn-lg">Add</button>
            </div>

        </div>
    </form>
</div>