<div class="list-todo">
    <div class="card complete">
        <div class="card-header">
            276x291
        </div>
        <div class="card-body">
            <h5 class="card-title mb-3">Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda soluta illum quos porro recusandae! Asperiores fugiat voluptatum perspiciatis soluta totam commodi facilis dicta voluptas.</p>
            <h4 class="mt-4">22-05-2020, 12:00</h4>
        </div>
        <div class="custom-control ">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
    <!-- <div class="card">
        <div class="card-header">
            276x291
        </div>
        <div class="card-body">
          <h5 class="card-title mb-3">Title</h5>
          <p class="card-text">Text Should be of 200 word maximum characters word count reduce as word is type.</p>
          <h4 class="mt-4">22-05-2020, 12:00</h4>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
          <label class="custom-control-label" for="defaultChecked2"></label>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
            276x291
        </div>
        <div class="card-body">
          <h5 class="card-title mb-3">Title</h5>
          <p class="card-text">Text Should be of 200 word maximum characters word count reduce as word is type.</p>
          <h4 class="mt-4">22-05-2020, 12:00</h4>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
          <label class="custom-control-label" for="defaultChecked2"></label>
        </div>
      </div> -->
</div>
