
<!--/*
    *@Description: Create Todo Component
    *@Date-created: sep 14 2020
    *@Author: Teke Rene
 -->
<!-- main app container -->
<div class="wrapper">
  <div id="formContent">
    <!-- <h2 class="underlineHover"  routerLink="/home"  routerLinkActive="active"><span class="ez-toc-section" id="Sign_In"></span> Home <span class="ez-toc-section-end"></span></h2>
    <h2 class="underlineHover"  routerLink="/login"  routerLinkActive="active"><span class="ez-toc-section" id="Sign_In"></span> Sign In <span class="ez-toc-section-end"></span></h2>
    <h2 class="underlineHover"  routerLink="/register"  routerLinkActive="active"><span class="ez-toc-section" id="Sign_Up"></span>Register<span class="ez-toc-section-end"></span></h2>
     -->
    <router-outlet></router-outlet>
  </div>
</div>

