/* You can add global styles to this file, and also import other style files */


/* google font Dosis */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}
.error { color: #ff0000}